/* @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Spicy+Rice&display=swap');
body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(assets/6530.jpg) ;
    background-size: cover;
    backdrop-filter: 100px blur;
}
.intro{
    text-align: center;
    display: none;
}
.intro h1{
    font-size: 200px;
    font-family: "Spicy Rice", serif;
    color: rgb(255, 153, 0);
}
.gameContainer{
    display: none;
    display: flex;
    justify-content: space-between;

}
#myCanvas{
    border: 3px solid black;
    border-radius: 30px;
    background-image: url(assets/6530.jpg);
    background-size: cover;
    background-position: center;
}
.instructions{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left:60px;
    width: 350px;
}
 .warn{
    color: red;
    font-weight: 900;
}
.btn{
    padding: 10px 30px;
    margin: 10px;
    background-color: rgb(255, 153, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn:hover{
    background-color: rgb(243, 190, 110);
}
/* .gameOver{
    font-size: 200px;
    color: red;
    font-weight: 400;
    font-family: "Spicy Rice", serif;
} */