/* @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Spicy+Rice&display=swap');
body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(assets/istockphoto-1253446472-612x612.jpg) ;
    background-size: cover;
}
.intro{
    text-align: center;
    display: none;
}
.intro h1{
    font-size: 200px;
    font-family: "Spicy Rice", serif;
    color: rgb(255, 153, 0);

}
.gameContainer{
    display: none;
    display: flex;
    justify-content: space-between;

}
